body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    max-width: 70%;
    margin: 5rem auto;
    text-align: center;
    font-family: sans-serif;
}

#clock {
    font-size: 4rem;
    border: 5px solid red;
    padding: 1rem;
}

.dark {
    background-color: #000;
    color: #fff;
}

button {
    border: 0;
    padding: 1rem;
    margin-top: 3rem;
    background-color: aqua;
    cursor: pointer;
    font-size: 1.2rem;
}
